.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav-menu-item {
  padding-left: 5rem;
}
li.nav-item{
  font-size: 1rem;

}
.main-item{
  padding-right: 1.5rem;
}

.nav-link {
  color: #616161;
}

