<section class="d-flex justify-content-between align-content-center py-5">
  <section class="d-flex align-content-center">
    <h5 class="default-title">MN302 - Mitsubishi Pajero 2009</h5>
    <p class="maint-category">Repair</p>
  </section>
  <div class="dropdown">
    <a class="btn btn-primary dropdown-toggle" role="button" id="maintenanceDropdownMenu" data-bs-toggle="dropdown"
      aria-expanded="false">
      Action
    </a>
    <ul class="dropdown-menu" aria-labelledby="maintenanceDropdownMenu">
      <li><a href="#" class="dropdown-item">Update</a></li>
      <li><a href="#" class="dropdown-item">Complete maintenance</a></li>
    </ul>
  </div>
</section>

<section class="row gx-5">
  <div class="col-md-6">
    <div class="row bg-white maint-card">
      <div class="col-md-12">
        <h6 class="text-gray-dark text-base fw-bold">Cost details</h6>
        <section class="text-center mt-5">
          <img src="assets/img/no-details.svg" alt="No details">
          <p class="mt-4 text-base">Add cost details after maintenance has been completed. <br>
            Click the button above</p>
        </section>
      </div>
    </div>

    <div class="row mt-4 bg-white maint-card">
      <div class="col-md-12">
        <section class="d-flex align-content-center justify-content-between">
          <div>
            <h6 class="text-gray-dark text-base fw-bold">Image</h6>
            <small class="sub">Upload image of damaged area(s)</small>
          </div>
          <button class="fms-btn__outline">
            <svg class="me-1" width="19" height="16" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9.50223 0.855469C10.1334 0.855469 10.6451 1.36714 10.6451 1.99833V8.85547H17.5022C18.1334 8.85547 18.6451 9.36714 18.6451 9.99833C18.6451 10.6295 18.1334 11.1412 17.5022 11.1412H10.6451V17.9983C10.6451 18.6295 10.1334 19.1412 9.50223 19.1412C8.87105 19.1412 8.35937 18.6295 8.35937 17.9983V11.1412H1.50223C0.87105 11.1412 0.359375 10.6295 0.359375 9.99833C0.359375 9.36714 0.87105 8.85547 1.50223 8.85547H8.35937V1.99833C8.35937 1.36714 8.87105 0.855469 9.50223 0.855469Z"
                fill="#282B80" />
            </svg>
            Add Image
          </button>
        </section>
        <section class="text-center no-img">
          <img src="assets/img/no-image.svg" alt="No Image">
        </section>
      </div>
    </div>

    <div class="row mt-4 bg-white maint-card">
      <div class="col-md-12">
        <section class="d-flex align-content-center justify-content-between">
          <div>
            <h6 class="text-gray-dark text-base fw-bold">Vendor</h6>
          </div>
          <button class="fms-btn__outline">
            <svg class="me-1" width="19" height="16" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9.50223 0.855469C10.1334 0.855469 10.6451 1.36714 10.6451 1.99833V8.85547H17.5022C18.1334 8.85547 18.6451 9.36714 18.6451 9.99833C18.6451 10.6295 18.1334 11.1412 17.5022 11.1412H10.6451V17.9983C10.6451 18.6295 10.1334 19.1412 9.50223 19.1412C8.87105 19.1412 8.35937 18.6295 8.35937 17.9983V11.1412H1.50223C0.87105 11.1412 0.359375 10.6295 0.359375 9.99833C0.359375 9.36714 0.87105 8.85547 1.50223 8.85547H8.35937V1.99833C8.35937 1.36714 8.87105 0.855469 9.50223 0.855469Z"
                fill="#282B80" />
            </svg>
            Add Vendor
          </button>
        </section>
        <section class="text-center mt-4">
          <img src="assets/img/no-vendor.svg" alt="No Image">
          <p class="mt-3 text-base">
            Add vendor by clicking the “+ Add Vendor” button on the top right corner of this section.
          </p>
        </section>
      </div>
    </div>

    <div class="row mt-4 bg-white maint-card">
      <div class="col-md-12">
        <section class="d-flex align-content-center justify-content-between">
          <div>
            <h6 class="text-gray-dark text-base fw-bold">Status notes</h6>
            <small class="sub">Add maintenance updates</small>
          </div>
          <button class="fms-btn__outline">
            <svg class="me-1" width="19" height="16" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9.50223 0.855469C10.1334 0.855469 10.6451 1.36714 10.6451 1.99833V8.85547H17.5022C18.1334 8.85547 18.6451 9.36714 18.6451 9.99833C18.6451 10.6295 18.1334 11.1412 17.5022 11.1412H10.6451V17.9983C10.6451 18.6295 10.1334 19.1412 9.50223 19.1412C8.87105 19.1412 8.35937 18.6295 8.35937 17.9983V11.1412H1.50223C0.87105 11.1412 0.359375 10.6295 0.359375 9.99833C0.359375 9.36714 0.87105 8.85547 1.50223 8.85547H8.35937V1.99833C8.35937 1.36714 8.87105 0.855469 9.50223 0.855469Z"
                fill="#282B80" />
            </svg>
            Add New
          </button>
        </section>

        <section class="mt-4">
          <section class="d-flex justify-content-between align-content-center">
            <section class="d-flex align-content-center">
              <h6>Maxwell Kayne</h6>
              <p class="ms-2"><span class="req-tag">Original request</span></p>
            </section>
            <p>11.10am<br>23rd Jun 2022</p>
          </section>
          <article>
            Car refused to start up since yesterday. Engine might have knocked. Engine oil light has been on since
            yesterday evening. Tried to start but its not working.
          </article>
        </section>

        <section class="text-center mt-5">
          <img src="assets/img/no-details.svg" alt="No Image">
          <p class="mt-3">
            Add additional information to the request.<br>
            Click the “add new” button above.
          </p>
        </section>
      </div>
    </div>

  </div>

  <div class="col-md-6">
    <div class="row bg-white p-5 fms-rounded">
      <div class="col-md-12">
        <p class="mt-title text-base fw-bold">Car Information</p>
        <section class="mt-3">
          <div class="row align-items-center">
            <div class="col-md-2">
              <label for="name" class="col-form-label">Name</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="name" disabled value="2011 Mercedes RX2" class="form-control"
                aria-describedby="NameOfAsset">
            </div>
          </div>

          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <label for="color" class="col-form-label">Colour</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="color" disabled value="Gray" class="form-control" aria-describedby="colorOfAsset">
            </div>
          </div>

          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <label for="class" class="col-form-label">Class</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="class" disabled value="Utility" class="form-control"
                aria-describedby="classOfAsset">
            </div>
          </div>

          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <label for="plateNo" class="col-form-label">Plate No:</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="plateNo" disabled value="44-4882-GOV" class="form-control"
                aria-describedby="plateOfAsset">
            </div>
          </div>

          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <label for="engineNo" class="col-form-label">Engine No:</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="engineNo" disabled value="44-4882-GOV" class="form-control"
                aria-describedby="engineNoOfAsset">
            </div>
          </div>

          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <label for="chasisNo" class="col-form-label">Chasis No:</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="chasisNo" disabled value="31244-4882-8815" class="form-control"
                aria-describedby="chasisNoOfAsset">
            </div>
          </div>

          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <label for="yearPurchased" class="col-form-label">Year Purchased</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="yearPurchased" disabled value="2020" class="form-control" aria-describedby="Name">
            </div>
          </div>

          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <label for="mileage" class="col-form-label">Mileage
                (Purchased):</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="mileage" disabled value="17,000 mi" class="form-control" aria-describedby="Name">
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row bg-white mt-4 p-5 fms-rounded">
      <section class="d-flex align-content-center justify-content-between">
        <p class="mt-title text-base fw-bold">Approval Log</p>
        <section class="d-flex align-content-center">
          <section class="me-4">
            <p><img src="assets/img/approved.svg" alt="Approved"> Approved</p>
          </section>
          <section>
            <p><img src="assets/img/declined.svg" alt="Declined"> Declined</p>
          </section>
        </section>
      </section>
      <section class="mt-4">
        <p>Request from:</p>
        <section class="d-flex justify-content-between align-content-center">
          <p>Chidinma Okorie</p>
          <p>23 Jun 2021,10:00 AM</p>
        </section>
      </section>
      <section class="mt-4">
        <p class="text-base mt-status-title">Status</p>
        <section class="d-flex justify-content-between align-content-center">
          <p><img src="assets/img/approved.svg" alt="Approved" class="me-2">Teniola Oloworokporo</p>
          <p>23 Jun 2021,10:00 AM</p>
        </section>
      </section>
    </div>
  </div>
</section>
