.no-img {
  padding: 4rem;
}

.sub {
  color: #A1A1A1;
}

.req-tag {
  background-color: #9F3A28;
  color: white;
  border: 1px solid #9F3A28;
  border-radius: 4px;
  padding: 5px 10px;
}

.mt-title {
  color: #201F1F;
}

.mt-status-title {
  color: #414141;
}
