<section class="row">
  <section class="col-md-6 login-fs-split pt-5">
    <nav class="navbar">
      <a class="navbar-brand" href="#">
        <img src="assets/img/kdsg-logo.svg" alt="Logo">
      </a>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="modal" href="#" data-bs-toggle="modal"
            data-bs-target="#aboutModal">
            About
          </a>
        </li>
      </ul>
    </nav>
    <section class="login-detail">
      <section>
        <header>
          <h1 class="text-white">Login</h1>
        </header>
        <p class="text-white">Click on the button below to enter the application</p>
        <button [routerLink]="['/dashboard']" class="login-btn">
          <svg style="height: 19px;" width="32" height="25" viewBox="0 0 32 25" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13.3234 6.48542C12.7041 7.00542 12.7041 7.83208 13.3234 8.35208L16.3402 10.8854H1.73235C0.859047 10.8854 0.144531 11.4854 0.144531 12.2188C0.144531 12.9521 0.859047 13.5521 1.73235 13.5521H16.3402L13.3234 16.0854C12.7041 16.6054 12.7041 17.4321 13.3234 17.9521C13.9426 18.4721 14.9271 18.4721 15.5463 17.9521L21.2466 13.1654C21.8658 12.6454 21.8658 11.8054 21.2466 11.2854L15.5463 6.48542C14.9271 5.96542 13.9426 5.96542 13.3234 6.48542ZM28.7252 21.5521H17.6105C16.7372 21.5521 16.0227 22.1521 16.0227 22.8854C16.0227 23.6188 16.7372 24.2188 17.6105 24.2188H28.7252C30.4718 24.2188 31.9008 23.0188 31.9008 21.5521V2.88542C31.9008 1.41875 30.4718 0.21875 28.7252 0.21875H17.6105C16.7372 0.21875 16.0227 0.81875 16.0227 1.55208C16.0227 2.28542 16.7372 2.88542 17.6105 2.88542H28.7252V21.5521Z"
              fill="#414141" />
          </svg>
          <span class="ms-1 login-text">Login</span>
        </button>
      </section>
    </section>
  </section>
  <section class="col-md-6 login-sc-split">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/sample-dashboard.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Track. Analyze. Improve</h5>
            <p>Powerful fleet management solution to control fleet’s utilisation, efficiency and maintenance.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/Mac-Studio.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Track. Analyze. Improve</h5>
            <p>Powerful fleet management solution to control fleet’s utilisation, efficiency and maintenance.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/iPad-Mini.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Track. Analyze. Improve</h5>
            <p>Powerful fleet management solution to control fleet’s utilisation, efficiency and maintenance.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <!-- Modal -->
  <section class="">
    <div class="modal fade w-100" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h5 class="modal-title" id="aboutModalLabel">Kaduna State Government Fleet Management System</h5>
            <p>
              The Kaduna State Government’s Fleet Management software provides all relevant information related to the
              maintenance and
              performance of its fleet. In effect, it is a sophisticated database that enables one to record and analyze
              the key
              attributes that can help improve efficiencies and drive down costs by reducing downtime and improving
              productivity.
            </p>
            <p>
              This tool also provides a robust analytics and reporting modules that is both easily digestible and user
              friendly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>
