/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

@use './assets/scss/custom/custom' as *;

body {
  font-family: 'Inter', sans-serif;
  font-size: $font-size-sm;
  height: 100vh;
}
.text-white {
  color: $white;
}

.text-secondary {
  color: $secondary;
}

.text-base {
  font-size: $font-size-base;
}

.text-sm {
  font-size: $font-size-sm;
}

.login-fs-split {
  background-color: $primary;
  height: 100vh;
  padding-left: 3.75rem;
  padding-right: 10rem;
}
.login-sc-split {
  background-color: $white;
  height: 100vh;
  // padding-top: 5vh;
}

.login-detail {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-btn {
  background-color: $white;
  color: $secondary;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 1rem 10rem;
}

.login-text {
  font-weight: 600;
  font-size: 1rem;
  color: $gray-500;
}

.carousel-item.active p {
  margin-bottom: 0px;
}

.carousel-indicators li {
  background:orange;
  color:purple;
  height:auto;
  text-indent: 0;
  text-align:center;
  margin-right: 8px;
  margin-left: 8px;
  border: none;
}

.carousel-caption {
  color: $secondary;
}

.carousel-item img {
  margin-bottom: 3.75rem;
}

.carousel-caption p {
  color: $secondary;
}

.bg-dashboard {
  background-color: $gray-300;
  min-height: 100vh;
  padding-bottom: 2rem;
}

.fms-rounded {
  border: 1px solid transparent;
  border-radius: 13px;
}

.fms-btn__sm {
  outline: 0;
  border: 1px solid transparent;
  padding: 0.65rem 1rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  color: $white;
  background-color: $primary;
  font-size: $font-size-sm;
  font-weight:$font-weight-bold
}

.fms-btn__outline {
  outline: 0;
  border: 1px solid $primary;
  padding: 0.65rem 1rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  color: $primary;
  background-color: transparent;
  font-size: $font-size-sm;
  font-weight:$font-weight-bold
}

.fms-btn__plain {
  outline: 0;
  border: 1px solid transparent;
  padding: 0.65rem 1rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  color: $gray-100;
  background-color: transparent;
  font-size: $font-size-sm;
  font-weight:$font-weight-bold
}

.form-check-input:checked {
  background-color: $success;
  border-color: $success;
}

.profile {
  font-size: $font-size-xl;
  color: $gray-dark;
  font-weight: $font-weight-bold;
  margin-bottom: 2rem;
}

.profile-title {
  font-size: $font-size-base;
  color: $gray-500;
  font-weight: $font-weight-bold;
  margin-bottom: 2.5rem;
}

.profile-avatar {
  margin-bottom: 2.5rem;
}

.profile-desc {
  padding: 2.5rem 1.5rem 1.25rem 3.75rem;
  font-size: $font-size-sm;
}

.fms-base-size {
  font-size: $font-size-sm;
}

.profile-notification {
  margin-top: 4rem;
  margin-bottom: 2.5rem;

}
.profile-notification, .notification-sub {
  font-weight: $font-weight-bold;
  color: $gray-500;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #F5F5F5;
    opacity: 1;
}

.form-control {
  border: 1px solid #D0D5DD;
}

.asset-table {
  background-color: $gray-800;
  margin: 2.5rem !important;
}

.hide {
  visibility: hidden;
}
.table>:not(:first-child) {
  border-top: none !important;
}

td {
  border-bottom: 1px solid #EDF2F7 !important;
}
thead {
  border: 1px solid transparent;
  color: #818181;
}

.asset-table table {
  padding: 1.375rem;
}
 th {
  font-weight: $font-weight-normal !important;
  font-size: 0.8rem;
 }

.default-title {
  font-size: $font-size-xl;
  color: $gray-dark;
  font-weight: $font-weight-bold;
}

.addNew {
  border: 1px solid $primary;
  outline: 0;
  font-size: $font-size-sm;
  padding: 0.6rem 1.5rem;
}


.fms-btn__save {
  outline: 0;
  border: 1px solid transparent;
  padding: 0.65rem 2rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  color: $white;
  background-color: $primary;
  font-size: $font-size-sm;
  font-weight:$font-weight-bold
}

.fms-btn__close {
  outline: 0;
  border: 1px solid #8A8D93;
  padding: 0.65rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  color: #8A8D93;
  background-color: transparent;
  font-size: $font-size-sm;
  font-weight:$font-weight-bold
}

.fms-btn__close:hover {
    color: #8A8D93;
}


.modal-footer {
  border-top: none;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: $white;
  background-color: $primary;
  border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: $primary;
}

.navbar-nav .nav-link.active {
  color: $primary !important;
}

li.nav-item.active {
  color: $primary;
}

.wrapper {
  padding-bottom: 2rem;
}
