<section class="d-flex justify-content-between align-content-center py-5">
  <section class="d-flex align-content-center">
    <h5 class="default-title">MN302 - Mitsubishi Pajero 2009</h5>
    <!-- <p class="maint-category">Repair</p> -->
  </section>
  <div class="dropdown">
    <a class="btn btn-primary dropdown-toggle" role="button" id="maintenanceDropdownMenu" data-bs-toggle="dropdown"
      aria-expanded="false">
      Action
    </a>
    <ul class="dropdown-menu" aria-labelledby="maintenanceDropdownMenu">
      <li><a href="#" class="dropdown-item">Edit</a></li>
      <li><a href="#" class="dropdown-item">Request maintenance</a></li>
      <li><a href="#" class="dropdown-item">Assign/Reassign</a></li>
      <li><a href="#" class="dropdown-item">Decommission</a></li>
    </ul>
  </div>
</section>

<section class="row gx-5">
  <div class="col-md-6">
    <div class="row bg-white maint-card">
      <div class="col-md-12">
        <p class="text-base"><span class="fw-bold text-gray-dark">Asset ID: </span><span>1001000</span></p>
        <img width="600" src="assets/img/vehicle.png" alt="Vehicle">
      </div>
    </div>

    <div class="row bg-white mt-4 maint-card">
      <div class="col-md-12">
        <div class="d-flex justify-content-center">
          <ul class="nav nav-pills mb-3 vehicle-tab" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-general-tab" data-bs-toggle="pill"
                data-bs-target="#pills-general" type="button" role="tab" aria-controls="pills-general"
                aria-selected="true">General</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-service-tab" data-bs-toggle="pill" data-bs-target="#pills-service"
                type="button" role="tab" aria-controls="pills-service" aria-selected="false">Service</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-repair-tab" data-bs-toggle="pill" data-bs-target="#pills-repair"
                type="button" role="tab" aria-controls="pills-repair" aria-selected="false">Repair</button>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">
            <p class="fw-bold text-gray-dark text-base">Information</p>
            <section class="mt-3">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <label for="name" class="col-form-label">Name</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="name" disabled value="2011 Mercedes RX2" class="form-control"
                    aria-describedby="NameOfAsset">
                </div>
              </div>

              <div class="row align-items-center mt-3">
                <div class="col-md-2">
                  <label for="color" class="col-form-label">Colour</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="color" disabled value="Gray" class="form-control"
                    aria-describedby="colorOfAsset">
                </div>
              </div>

              <div class="row align-items-center mt-3">
                <div class="col-md-2">
                  <label for="class" class="col-form-label">Class</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="class" disabled value="Utility" class="form-control"
                    aria-describedby="classOfAsset">
                </div>
              </div>

              <div class="row align-items-center mt-3">
                <div class="col-md-2">
                  <label for="plateNo" class="col-form-label">Plate No:</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="plateNo" disabled value="44-4882-GOV" class="form-control"
                    aria-describedby="plateOfAsset">
                </div>
              </div>

              <div class="row align-items-center mt-3">
                <div class="col-md-2">
                  <label for="engineNo" class="col-form-label">Engine No:</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="engineNo" disabled value="44-4882-GOV" class="form-control"
                    aria-describedby="engineNoOfAsset">
                </div>
              </div>

              <div class="row align-items-center mt-3">
                <div class="col-md-2">
                  <label for="chasisNo" class="col-form-label">Chasis No:</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="chasisNo" disabled value="31244-4882-8815" class="form-control"
                    aria-describedby="chasisNoOfAsset">
                </div>
              </div>

              <div class="row align-items-center mt-3">
                <div class="col-md-2">
                  <label for="yearPurchased" class="col-form-label">Year Purchased</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="yearPurchased" disabled value="2020" class="form-control"
                    aria-describedby="Name">
                </div>
              </div>

              <div class="row align-items-center mt-3">
                <div class="col-md-2">
                  <label for="mileage" class="col-form-label">Mileage
                    (Purchased):</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="mileage" disabled value="17,000 mi" class="form-control"
                    aria-describedby="Name">
                </div>
              </div>
            </section>
          </div>
          <div class="tab-pane fade" id="pills-service" role="tabpanel" aria-labelledby="pills-service-tab">
            <p class="fw-bold text-gray-dark text-base">Information</p>
            <table class="table align-items-center">
              <thead>
                <tr>
                  <th *ngFor="let maintHeader of maintHeaders" scope="col">
                    {{maintHeader}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr [routerLink]="['/dashboard/assets/maintenance/1']" *ngFor="let asset of assets; let i = index"
                  class="text-dark user-row vendor">
                  <td class="p-3">{{i+1}}</td>
                  <td class="p-3 text-primary text-decoration-underline">{{asset.id}}</td>
                  <td class="p-3">

                    <svg *ngIf="asset.status == 'Completed'" width="6" height="6" viewBox="0 0 6 6" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <circle cx="3" cy="3" r="3" fill="#74A27F" />
                    </svg>
                    <svg *ngIf="asset.status != 'Completed'" width="6" height="6" viewBox="0 0 6 6" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <circle cx="3" cy="3" r="3" fill="#B26153" />
                    </svg>
                    {{asset.status}}
                  </td>
                  <td class="p-3">{{asset.date}}</td>
                  <td class="p-3">{{asset.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-repair" role="tabpanel" aria-labelledby="pills-repair-tab">
            <p class="fw-bold text-gray-dark text-base">Information</p>
            <table class="table align-items-center">
              <thead>
                <tr>
                  <th *ngFor="let maintHeader of maintHeaders" scope="col">
                    {{maintHeader}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr [routerLink]="['/dashboard/assets/maintenance/1']" *ngFor="let asset of assets; let i = index"
                  class="text-dark user-row vendor">
                  <td class="p-3">{{i+1}}</td>
                  <td class="p-3 text-primary text-decoration-underline">{{asset.id}}</td>
                  <td class="p-3">

                    <svg *ngIf="asset.status == 'Completed'" width="6" height="6" viewBox="0 0 6 6" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <circle cx="3" cy="3" r="3" fill="#74A27F" />
                    </svg>
                    <svg *ngIf="asset.status != 'Completed'" width="6" height="6" viewBox="0 0 6 6" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <circle cx="3" cy="3" r="3" fill="#B26153" />
                    </svg>
                    {{asset.status}}
                  </td>
                  <td class="p-3">{{asset.date}}</td>
                  <td class="p-3">{{asset.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="row bg-white maint-card">
      <div class="col-md-12">
        <section class="mb-5">
          <p class="fw-bold text-gray-dark text-base">Assignee</p>
          <p class="assignee-title">Since June 2017</p>
        </section>
        <div class="row">
          <div class="col-md-4">
            <img src="assets/img/user.svg" alt="User Avatar">
          </div>
          <div class="col-md-8">
            <section class="mb-2">
              <p class="assignee-title">Name</p>
              <p>Abubakar Atanda Odudubariba</p>
            </section>
            <section class="mb-2">
              <p class="assignee-title">Phone</p>
              <p>+234 (0) 800 000 0000</p>
            </section>
            <section class="mb-2">
              <p class="assignee-title">Email</p>
              <p>abubakar.atanda@kaduna.gov.ng</p>
            </section>
            <section class="mb-2">
              <p class="assignee-title">Designation</p>
              <p>Minister of Socials.</p>
            </section>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <section class="my-2">
              <p class="assignee-title">Permanent address</p>
              <p>14 Mallam Tafawa Balewa Boulevard, Bwari, Kaduna Central</p>
            </section>
            <section class="mb-2">
              <p class="assignee-title">MDA</p>
              <p>Kaduna State Planning and Budgeting Commission</p>
            </section>
            <section>
              <p class="assignee-title">MDA Address</p>
              <p>14 Mallam Tafawa Balewa Boulevard, Bwari, Kaduna Central, Kaduna State, Nigeria</p>
            </section>
          </div>

          <section class="mt-5">
            <button class="fms-btn__plain">
              <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.0215 5.00072V7.00072L5.12415 7.00072L8.63689 10.2432L7.10482 11.6575L0.976562 6.00061L7.10482 0.34375L8.63689 1.75796L5.1239 5.00072L19.0215 5.00072Z"
                  fill="#414141" />
              </svg>
              <p class="assignee-title mt-1">Prev</p>
            </button>
          </section>
        </div>

      </div>
    </div>

    <div class="row mt-4 bg-white maint-card">
      <div class="col-md-12">
        <section class="d-flex align-content-center justify-content-between">
          <div>
            <h6 class="text-gray-dark text-base fw-bold">Notes</h6>
          </div>
          <button class="fms-btn__outline">
            <svg class="me-1" width="19" height="16" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9.50223 0.855469C10.1334 0.855469 10.6451 1.36714 10.6451 1.99833V8.85547H17.5022C18.1334 8.85547 18.6451 9.36714 18.6451 9.99833C18.6451 10.6295 18.1334 11.1412 17.5022 11.1412H10.6451V17.9983C10.6451 18.6295 10.1334 19.1412 9.50223 19.1412C8.87105 19.1412 8.35937 18.6295 8.35937 17.9983V11.1412H1.50223C0.87105 11.1412 0.359375 10.6295 0.359375 9.99833C0.359375 9.36714 0.87105 8.85547 1.50223 8.85547H8.35937V1.99833C8.35937 1.36714 8.87105 0.855469 9.50223 0.855469Z"
                fill="#282B80" />
            </svg>
            Add New
          </button>
        </section>
        <section class="text-center no-img pt-5">
          <img src="assets/img/no-details.svg" alt="No Detail">
          <p class="pt-4">No Note has been created for this asset yet.</p>
        </section>
      </div>
    </div>
  </div>
</section>
